
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

#mainHeader {
    font-size: 41px;
    text-align: right;
    margin-right: 9px;
}

#navOpen {
    color: black;
    float: left;
    margin-left: 25px;
    margin-top: 7px;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* navigation main info */
.navMainInfo {
    color: white;
}

/* navigation sub info */
.navSubInfo {
    color: grey;
}

/* submit button */
#submit  {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* alert box */
#alertBox {
    position:fixed;
    bottom: 2%;
    width: 100%;
    z-index: 100;
}

.marginBottom {
    margin-bottom: 15px;
}

#recentColorsHeader {
    padding-right: 10px;
}